<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Schedule JS</title>
	<meta name="description" content="content">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
	<link rel="stylesheet" href="style.css?v=1.0">
</head>

<body>

	<div class="vueSchedule">
		<div class="nav">
			<div class="prev" v-on:click="loadPrevWeek">Prev week</div>
			<div class="month">{{ month }}</div>
			<div class="next" v-on:click="loadNextWeek">Next week</div>
		</div>

		<div class="weekDays">
			<div class="wd" v-for="day in days">{{ day.format('MMM Do') }}</div>
		</div>
		<div class="timelist">
			<div class="hour" v-for="(hour, index) in hours">
				<div class="time">{{ hour.time }}:00</div>
				<div class="eventBlock">
					<div class="shdle_event" v-for="event in hours[index].events">
						<p>{{ event.label }}</p>
					</div>
				</div>
			</div>



			<!-- <div class="hour">
				<div class="time">0:00</div>
				<div class="eventBlock">
					<div class="shdle_event" v-for="event in hours[1].events">
						<p>{{ event.label }}</p>
					</div>
				</div>
			</div>
			<div class="hour">
				<div class="time">1:00</div>
				<div class="eventBlock"></div>
			</div>
			<div class="hour">
				<div class="time">2:00</div>
				<div class="eventBlock"></div>
			</div> -->
		</div>

	</div>

	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="moment.js"></script>
	<script type="text/javascript" src="schedule.js"></script>

</body>
